{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    {% for article in articles %}
    <div class="card">
        <h2>{{ article.title }}</h2>
        <h5>{{ article.description }} &nbsp; {{ article.date ? article.date|date('Y-m-d') : '' }} &nbsp; Created by: {{article.author}} &nbsp; Contact author: {{article.email}}</h5>
        <div class="fakeimg" style="height:100px;">Image</div>
        <a href="{{ path('app_article_show', {'id': article.id}) }}">read more...</a>
        <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit article</a>
        {{ include('article/_delete_form.html.twig') }}
        <h6>Comments: {{ article.comments|length}} </h6> 
    </div>
    {% else %}
    <div class="card">
        <h2>No articles found</h2>
    </div>
    {% endfor %}
    {% if prevPage is not empty %}
    <a href="{{ path('app_article_index')}}?page={{prevPage}}">prev</a>
    {% endif %}
    {% if nextPage is not empty %}
    <a href="{{ path('app_article_index')}}?page={{nextPage}}">next</a>
    {% endif %}
    <a href="{{ path('app_article_new') }}">Add article</a> 
{% endblock %}
