{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    
    <div class="card">
        <h2>{{ article.title }}</h2>
        <h5>{{ article.description }} &nbsp; {{ article.date ? article.date|date('Y-m-d') : '' }} &nbsp; Created by: {{article.author}} &nbsp; Contact author: {{article.email}}</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <div class="content" style="height:300px;">{{ article.content }}</div>
        <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit article</a>
        {{ include('article/_delete_form.html.twig') }}
        <h6>Comments: {{ article.comments|length}} </h6> 
    </div>
        {% for comment in article.comments %}
        <div class="comment"> 
        <h4>{{ comment.author }} &nbsp; {{ comment.date ? comment.date|date('Y-m-d') : '' }}</h4>
        <h5>{{ comment.content }}</h5>
        </div>
        {% endfor %}
        <a href="{{ path('app_comment_new') }}">Add comment</a> 
{% endblock %}
