<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <h2>Symfony Blog</h2>
        </div>

        <div class="row">
            <div class="leftcolumn">
            {% block body %}{% endblock %}
            </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me (dummy module)</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
            <h3>Popular Post (dummy module)</h3>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div>
            </div>
            <div class="card">
            <h3>Follow Me (dummy module)</h3>
            <p>Some text..</p>
            </div>
        </div>
    </div>

    <div class="footer">
    <h2>Footer</h2>
    </div>
    </body>
</html>
